<div class="container-fluid">
  <div class="sidebar">
    <div class="sidebar-header">
      <img class="sidebar-logo" src="assets/images/starbuck-logo.png"/>
    </div>
    <div class="sidebar-navigation">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/home" routerLinkActive="active">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/products" routerLinkActive="active">Produits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/employees" routerLinkActive="active">Employés</a>
        </li>
        <li class="nav-item logout">
          <a class="nav-link" routerLink="/login">Déconnexion</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
