.sidebar {
  background-color: #ffffff;
  padding: 2em 0;
  height: 100vh;
  width: 280px;
  right: 0;
  position: fixed;
  z-index: 100;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .sidebar-logo {
    display: block;
    height: 60px;
    padding-left: 2.75em;
    width: auto;
  }
}
