<div class="container-fluid">
  <h1>Modifier produit</h1>
  <div class="create-product">
    <form>
      <div class="form-group">
        <label for="productName">Nom du produit</label>
        <input type="text" class="form-control" id="productName">
      </div>
      <div class="form-group">
        <label for="productType">Type</label>
        <select class="form-control" id="productType">
          <option disabled selected>Sélectionner le type de produit</option>
          <option>Boisson</option>
          <option>Pâtisserie</option>
          <option>Sandwich</option>
        </select>
      </div>
      <div class="form-group">
        <label for="productStock">Stock</label>
        <input type="numner" class="form-control" id="productStock">
      </div>
      <div class="form-group">
        <label for="productPrice">Prix</label>
        <input type="number" class="form-control" id="productPrice">
      </div>
      <div class="actions">
        <button type="submit" class="btn btn-success">Enregistrer</button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i> Supprimer</button>
      </div>
    </form>
  </div>
</div>
