.create-product {
  max-width: 600px;
  margin-top: 2em;
}

label {
  font-weight: 600;
}

input, select {
  height: 50px;
  color: #222;
}

.actions {
  display: flex;
  justify-content: space-between;
}
